<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/1.css" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/home">Bootleg Music Database</a>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/listAlbums">Albums</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Genres</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href ="#">Charts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-danger" href ="/logout">Logout</a>
              </li>
            </ul>
          
            <form class="d-flex input-group w-75" action="/search" method="POST">
              <input
                type="text"
                class="form-control bg-dark text-white"
                name="search"
              />
              <button
                class="btn btn-outline-primary"
                type="submit"
                data-mdb-ripple-color="dark"
              >
                Search
              </button>
            </form>


          </div>
        </div>
      </nav>

      <section class="vh-auto pt-5 gradient-custom">

        <form action="/sort" method="POST">
          <div class="hstack w-25 gap-3 mt-3">
            <select class="form-select bg-dark text-white" name="sort" aria-label="Default select example">
              <option selected>Choose Sorting Method</option>
              <option value="1">Sort By Rating</option>
              <option value="2">Sort By Albhabetical Order</option>
              <option value="3">Sort By Year</option>
            </select>
            <button class="btn btn-outline-light btn-lg mt-3" type="submit">Sort</button>
          </div>
      </form>
      <form action="/genrelist" method="POST">
        <input type="text" id="typeGenreX" class="form-control form-control-lg name" name="genre" />
        <label class="form-label" for="typeGenreX">Seek Genre List</label>
        <button class="btn btn-outline-light btn-lg mt-3" type="submit">Show</button>
      </form>

        <% for(let i=0; i<foundAlbums.length; i++){ %>
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <li><%=foundAlbums[i].album%></li>
      
                  </div>
      
                 
      
                </div>
              </div>
            </div>

            <% } %>
      </section>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>